<div>
    <table class="table table-responsive table-striped table-hover" style="margin-top: 20px">
        <thead>
        <tr >
            <th scope="col">ID</th>
            <th scope="col">Phòng Thuê</th>
            <th scope="col">Tên dịch vụ</th>
            <th scope="col">Từ ngày</th>
            <th scope="col">Đến ngày</th>
            <th scope="col">Chỉ số điện cũ</th>
            <th scope="col">Chỉ số điện mới</th>
            <th scope="col">Chỉ số nước cũ</th>
            <th scope="col">Chỉ số nước mới</th>
            <th scope="col">Đơn giá điện</th>
            <th scope="col">Đơn giá nước</th>
            <th scope="col">Thanh toán</th>
            <th scope="col">Sửa</th>
            <th scope="col">Xóa</th>

        </tr>
        </thead>
        <tbody>
        {{#each listDN}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.idphongthue}}</td>
                <td>{{this.iddichvu}}</td>
                <td>{{this.tungay}}</td>
                <td>{{this.denngay}}</td>
                <td>{{this.chisodiencu}}</td>
                <td>{{this.chisodienmoi}}</td>
                <td>{{this.chisonuoccu}}</td>
                <td>{{this.chisonuocmoi}}</td>
                <td>{{this.dongiadien}}</td>
                <td>{{this.dongianuoc}}</td>
                <td>{{this.dathanhtoan}}</td>


                <td><a class="btn btn-warning" style="text-decoration: none" href="/diennuoc/edit{{this._id}}">Sửa</a></td>
                <td><a class="btn btn-danger" style="text-decoration: none" href="/diennuoc/delete{{this._id}}">Xóa</a></td>


            </tr>
                {{else}}
            <tr>
                <td colspan="5">Bạn chưa có điện nước--
                    <a href="/diennuoc/add">thêm điện nước</a>
                </td>

            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
<!--<script>-->
<!--    let a={{this.content}};-->
<!--    let result=String.subString(1,70)+"....";-->

<!--    document.getElementById("text-content").InnerHTML=result;-->
<!--</script>-->